screening-service/xsd/NLSTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.db.com/NLSTypes" xmlns:nlstypes="http://www.db.com/NLSTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- NLSTypes.xsd v2.1 Related to NLS File Definitions v2.1 -->
	<!-- BEGIN OF META FIELDS -->
	
	<xs:simpleType name="Feedname">
		<xs:restriction base="nlstypes:String50"/>
	</xs:simpleType>
	
	<xs:simpleType name="SourceIDType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="2000"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="AsOfDate">		
		<xs:restriction base="nlstypes:SimpleDate"/>
    </xs:simpleType>

	<xs:simpleType name="CreationTimestamp">
		<xs:restriction base="nlstypes:ExtendedDate"/>
    </xs:simpleType>
	
	<xs:simpleType name="NumbersOfRecords">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"></xs:minInclusive>
		</xs:restriction>
    </xs:simpleType>
	
	<!-- END OF META FIELDS -->

	<!-- BEGIN OF RECORD FIELDS -->
	<xs:simpleType name="SHA256Checksum">
		<xs:restriction base="xs:hexBinary">
			<xs:minLength value="32"></xs:minLength>
			<xs:maxLength value="32"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UniqueRecordIDType">
		<xs:annotation>
			<xs:documentation>Unique code used by the source system to identify a client.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nlstypes:String100">
			<xs:minLength value="1"></xs:minLength>
		</xs:restriction>
    </xs:simpleType>
		
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z][A-Z])?"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SimpleDate">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	
	<xs:simpleType name="ExtendedDate">
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>

	<xs:simpleType name="PEPFlag">
		<xs:union memberTypes="nlstypes:SimpleDescision nlstypes:DecisionPEPExtend" />
	</xs:simpleType>
	
	<xs:simpleType name="DecisionPEPExtend">
		<xs:restriction base="xs:string">
			<xs:enumeration value="U" />
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SimpleDescision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String150">
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String250">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String400">
		<xs:restriction base="xs:string">
			<xs:maxLength value="400"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String600">
		<xs:restriction base="xs:string">
			<xs:maxLength value="600"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
